<html>
<head><title>inStyle</title>
<link rel="stylesheet" type="text/css" href="/static/css/parallax.css" media="screen" />
</head>
<body>

<div id="title" class="slide header">
  <h1>inStyle </h1>
</div>

<div id="slide1" class="slide">
  <div class="title">
    <h2>Restyle</h2>
    <p>Turn any Photo into a beautiful artwork--for free! </p>
  </div>
</div>

<div id="slide2" class="slide">
  <div class="title" align="left">
    <h1>Upload Target Image </h1>
    <p>This first picture would be the scene you like to be painted.</p>
  </div>
  
   <div class="title" align="right">
    <h1>Upload Style Image</h1>
    <p>Upload the image whose style you would want to paint on the subject picture.</p>
  </div>
  <br>
  <img src="/static/images/top1.jpg">
  <img src="/static/images/bot2.jpg"> 
  <br>
</div>

<div id="slide3" class="slide">
 
</div>

<div id="slide4" class="slide header">
    <h1>The End</h1>
</div>
</body>
</html>
